.navbar{
  display: flex;
  background-color: antiquewhite;
  padding: 0 15px;
  align-items: center;
  min-height: 40px;
  font-size: large;
  border-bottom-style: solid;
  direction: row;
  width: 100%;
}
.order-items{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
}
a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.onecd{
  border-style: solid;
  border-width: 2px;
  border-color: rgb(211, 211, 211);
  border-radius: 10px;
  max-width: 300px;
  text-align: center;
  margin: 30px;
}
.imgcard {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width:300px;
  height: 300px;
  overflow: hidden;
}
.onecd:hover img {
  transition: transform .5s ease;
  transform: scale(1.5);
}
.card-body {
  margin: 10px;
}
buttons{
  display: flex;
  justify-items: flex-end;
}
.cardauthor{
  text-transform: uppercase;
  margin: 20px;
  text-align: center;
  font-size: 25px;
}
.btn{
  background-color: antiquewhite;
  color: white;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 3px;
  border-radius: 3px;
  border-width: 1px;
}
.searchBar {
	display: flex;
  
	margin: 12px;
	padding: 8px;
	width: 200px;
	font-size: 14px;
	border-radius: 10px;
	border: none;
  }
